@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: 'Noto Serif KR', serif;
}

.bg-img {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -2000;
  background: url("../images/일_스티브잡스명상.jpeg") no-repeat;
  background-size: cover;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.bg-img.focus {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.container {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mantra-wrapper {
  width: 100%;
  border: 5px dashed;
  border-radius: 30px;
  border-color: rgba(255, 255, 255, 0);
  margin: 50px;
  max-height: calc(100% - 100px);
  overflow: hidden;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.mantra-wrapper:focus-within {
  border-color: rgba(255, 255, 255, 1);
}

.mantra:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  opacity: .3;
}

.mantra {
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255);
  font-size: 8rem;
  padding: 20px 20px 30px 20px;
  white-space: pre-wrap;

  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.mantra:focus {
  color: rgba(255, 255, 255, 0.8);
  outline: none;

  -webkit-transform: skewX(-7deg);
  -moz-transform: skewX(-7deg);
  -o-transform: skewX(-7deg);
  transform: skewX(-7deg);
}